.row
	.offset4.span4.btns
		%a.btn.btn-danger.js-simulation-toggle
			Nueva simulaci贸n
		%a.btn.btn-primary.js-comparison-toggle
			Nueva comparaci贸n

.frms
	.simulation-form.hidden
		.row
			.offset3.span6
				.well
					= bootstrap_form_for Simulation.new, remote: true, html: { class: "form-horizontal" }  do |f|
						= f.select :strategy, ["Random", "Smart", "Round Robin", "Shortest Queue"]
						= f.select :clients, (5..50).step(5).to_a
						= f.select :iterations, (50..5000).step(50).to_a
						= f.select :reqs_per_second, (1..300).step(1).to_a
						= f.actions do
							= f.submit "Nueva Simulaci贸n", class: "btn btn-danger"
	.comparison-form.hidden
		.row
			.offset3.span6
				.well
					= bootstrap_form_for Comparison.new, remote: true, html: { class: "form-horizontal" }  do |f|
						= f.select :strategies,  options_for_select(["Random", "Smart", "Round Robin", "Shortest Queue"], ["Random", "Smart", "Round Robin", "Shortest Queue"]), {} , { multiple: true }
						= f.select :clients_from, (5..100).step(5).to_a
						= f.select :clients_interval, [1, (5..25).step(5).to_a].flatten
						= f.select :clients_to, (5..100).step(5).to_a
						= f.select :iterations, (50..5000).step(50).to_a
						= f.select :reqs_per_second_from, (1..300).step(1).to_a
						= f.select :reqs_per_second_interval, [1, (5..100).step(5).to_a]
						= f.select :reqs_per_second_to, (1..300).step(1).to_a
						= f.actions do
							= f.submit "Nueva Comparaci贸n", class: "btn btn-primary"